.flag {
  background-image: url('../images/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: 'Raleway', monospace;
}

.txt-white {
  color: #FFF;
}

#ham{
  font-size: 45px;
  margin-left: 100px;
}

.breakfast {
  background-image: url('../images/foodtop/breakfast.jpg');
    text-align: center;
}
#breakfast:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.5);
  opacity: 5.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.lunch {
  background-image: url('../images/foodtop/dinner2.jpg');
  text-align: center;
}
#lunch:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.dinner {
  background-image: url('../images/foodtop/dinner.jpg');
  text-align: center;
}
#dinner:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
   background-color: #F15A29;
    background-color: #F15A29;
    overflow-y: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}


.party{
  color: black;
  text-align: center;
  padding: 10px;
}


.space {
  margin-top: 20px;
  margin-bottom: 20px;
}


.party:hover{
background-color: rgba(244, 171, 46, 0.89)
}

.tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-border {
  border-style: solid;
  border-width: 20px;
  border-color: #F1F1F1;
  box-shadow: 1px 7px 60px -2px rgba(0, 0, 0, 0.75);
}

.left{
  text-align: left;
}

.pdng {
  padding: 40px;
}

.party2 {
background-color:  #F15B29;
padding: 16px;
}

.food{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 70px;
  background-image: url(../images/backgrounds/foodsBg.jpg);
  background-attachment: fixed;
  color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.email_panel{
  text-align: center;
background-image: url(../images/backgrounds/subscribe.jpg);
padding: 70px;
background-attachment: fixed;
}
.footer-menu {
  padding: 20px;
  background-color:red;
  text-align:center;
  background-color: #F15B29;
}

.closebtn{
  font-size: 50px;
  color:black;
  margin-left: 100px;
}

.overlay-content{
  color:black;
}

.active{
  background-color: white;
}
.active img{
  width: 70%;
  height: 40%;
}
.nav-tabs{
  background-color: lightgrey;
}

.Email{
width: 50%;
padding: 10px;
}
/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
