.flag {
  background-image: url('../images/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: 'Raleway', monospace;
}

.txt-white {
  color: #FFF;
}

.breakfast {
  background-image: url('../images/foodtop/breakfast.jpg');
  text-align: center;
}
#breakfast:hover{
  background-color: rgba(244, 171, 46, 0.89)
}

.lunch {
  background-image: url('../images/foodtop/dinner2.jpg');
  text-align: center;
}

.dinner {
  background-image: url('../images/foodtop/dinner.jpg');
  text-align: center;
}

.party{
  color: black;
  text-align: center;
}


.space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pdng {
  padding: 40px;
}
.pdng:hover{
background-color: rgba(244, 171, 46, 0.89)
}

.tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-border {
  border-style: solid;
  border-width: 20px;
  border-color: #F1F1F1;
  box-shadow: 1px 7px 60px -2px rgba(0, 0, 0, 0.75);
}

.left{
  text-align: left;
}

.pdng {
  padding: 40px;
}

.party2 {
background-color: orange;
}
