.flag {
  background-image: url('../images/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: 'Raleway', monospace;
}

.txt-white {
  color: #FFF;
}

.breakfast {
  background-image: url('../images/foodtop/breakfast.jpg');
  text-align: center;
}

.lunch {
  background-image: url('../images/foodtop/dinner2.jpg');
  text-align: center;
}

.dinner {
  background-image: url('../images/foodtop/dinner.jpg');
  text-align: center;
}

.party{
  color: black;
  text-align: center;
}

.party p1{
background-image:url(../images/WHDQ-513685182.jpg);
}
.space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pdng {
  padding: 40px;
}

.tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-border {
  border-style: solid;
  border-width: 20px;
  border-color: #F1F1F1;
  box-shadow: 1px 7px 60px -2px rgba(0, 0, 0, 0.75);
}

.left{
  text-align: left;
}

.pdng {
  padding: 40px;
}

.party2 {
background-color: orange;
}
