.flag {
  background-image: url('../images/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: 'Raleway', monospace;
}

.txt-white {
  color: #FFF;
}

#ham{
  font-size: 45px;
  margin-left: 100px;
}

.breakfast {
  background-image: url('../images/foodtop/breakfast.jpg');
    text-align: center;
}
#breakfast:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.lunch {
  background-image: url('../images/foodtop/dinner2.jpg');
  text-align: center;
}
#lunch:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.dinner {
  background-image: url('../images/foodtop/dinner.jpg');
  text-align: center;
}
#dinner:hover{
  bottom: 0;
  right: 0;
background:rgba(250,250,250,0.5);
  opacity: 0.5;
  color: black;
  overflow: hidden;
  transition: .5s ease;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
   background-color: #F15A29;
    background-color: #F15A29;
    overflow-y: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}


.party{
  color: black;
  text-align: center;
}


.space {
  margin-top: 20px;
  margin-bottom: 20px;
}


.pdng:hover{
background-color: rgba(244, 171, 46, 0.89)
}

.tag {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-border {
  border-style: solid;
  border-width: 20px;
  border-color: #F1F1F1;
  box-shadow: 1px 7px 60px -2px rgba(0, 0, 0, 0.75);
}

.left{
  text-align: left;
}

.pdng {
  padding: 26px;
}

.party2 {
background-color:  #F15B29;
padding: 26px;
}

.food{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  background-image: url(../images/backgrounds/foodsBg.jpg);
  background-attachment: fixed;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.email_panel{
  text-align: center;
background-image: url(../images/backgrounds/subscribe.jpg);
padding: 70px;
background-attachment: fixed;
}
.footer-menu {
  padding: 20px;
  background-color:red;
  text-align:center;
  background-color: #F15B29;
}

.closebtn{
  font-size: 45px;
  color:black;
}
